

.logo__container{
    height: 3rem;
    width: 80vw;
    margin: auto;
    margin-top: 0.5rem;
    background:linear-gradient(rgb(214, 28, 28), rgb(86, 205, 189), rgb(40, 149, 40));;
    border:1px solid royalblue;
    border-radius: 12px;
}

.logo__container img{
    border-radius: 50%;
    width: 3rem;
    margin-left: 47%;
    opacity: 70%;
}
.chat_and_contacts{
    min-width:650px;
    max-width: 1120px;
    margin: auto;
    margin-top: 0.3rem;
    min-height: 590px;
    max-height: 90vh;
    border-radius: 5px;
    display: flex;
    border: 2px solid lightcoral;
}

.contacts{
    width: 380px;
    padding: 1rem;
    border: 1px solid lightgray;
    margin: 0.1rem;
    border-radius: 3px;
    background: #e6f7ff;

}

.chat__section{
    width: 760px;
    margin: 0.1rem;
    border: 1px solid lightgrey;
    padding: 0.4rem;
}

#person__name{
    background: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 92%;
}

.group__name{
    background: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 92%;

}

.single__contacts{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.2rem;
    border-radius: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
    max-height:280px;
    min-height:270px  ;
}

.single__contact{
    width: 100%;
    height: 2em;
    margin: 0.3em auto;
    border-radius: 5%/70%;
    background-color: rgb(216, 167, 167);
    display: flex;
    align-items: center;
}

.single__contact:hover{
    background-color: aqua;
}

.single__contact h5{
    margin-left: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    font-size: medium;
}

.groups{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.2rem;
    border-radius: 10px;
    max-height:270px;
    min-height:260px;
    overflow: scroll;
}

.single__group{
    width: 100%;
    height: 2em;
    margin: 0.3em auto;
    border-radius: 5%/70%;
    background-color: rgb(193, 41, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.joingroup__Btn{
    margin-right: 5%;
    padding: 0.25rem;
    border-radius: 5px;
    border: none;
}

.joingroup__Btn:hover{
    background-color: rebeccapurple;
    color: white;
    font-weight: bolder;
}

.single__group h5{
    margin-left: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    font-size: medium;
}

.single__group:hover{
    background-color: aqua;
}



.actual__chat{
    width: 100%;
    padding: 0.1rem;
    overflow: scroll;
    max-height: 490px;
    min-height:480px ;
}

.msgs{
    min-width: 40%;
    width: fit-content;
    border-radius: 8px;
    padding: 0.3rem;
    margin: 0.1rem 0 0.1rem 0;
    float: right;
    position: relative;
    
}

.msgs p{
    font-size: x-small;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.my__message{
    background-color: aqua;
    float: right;
    clear: both;
}


.others__message{
    background-color: chartreuse;
    float: left;
    clear: both;
} 

.send__message{
    background-color: aqua;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
#showSendMediaForm{
    align-self: center;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    padding: 0 1.1rem;
    font-size: 25px;
}

#showSendMediaForm:hover{
    background: rgb(34, 28, 28);
    padding: 0.09rem 1.1rem;
}

#sendMediaSection{
    display: none;
}

/* .mediaFormActive{
    display: none;
} */


.send_MediaOrMsg{
    display: flex;
    align-items: center;
}
#media__form{
    display: flex;
    margin: 0.2rem;

}

#media__form input[type=submit]{
    background:rgb(33, 160, 33) ;
    color: white;
    width:60px;
    font-size: 28px;
    font-weight: bold;
    width: 5rem;
    border-radius: 5px;
}

#media__form input[type=submit]:hover{
    background:rgb(126, 203, 10);
    color: white;
    border: none;
}


#send__message__form{
    display: flex;
    
}

#send__message__form input{
    min-width: 37vw;
    max-width: 40vw;
    margin-left:2%;
    font-size: 25px;
}
#send__message__form button{
    background: rgb(92, 223, 16);
    margin-left: 0.5rem;
    width: 7rem;
    border: none;
    border-radius: 10px;
    font-size:35px;
}
#send__message__form button:hover{
    background: green;
    
}


#form__newGroup{
    background-color: black;
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
}

#form__newGroup input[type=text]{
    background-color: rgb(221, 227, 222);
    color: rgb(192, 32, 32);
    width: 63%;
    border: none;
    font-weight: 800;

}

#form__newGroup input[type=submit]{
    background-color: rgb(122, 208, 140);

}

#form__newGroup input[type=submit]:hover{
    background-color: rgb(36, 150, 61);
}

.message_sender_name{
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#groupDetail__section{
    display:flex;
    width:670px;
}

.groupMembers{
    width: 70%;
}

.groupMember{
    padding: 0.5rem;
    border-radius: 3px;
    width: 90%;
    margin: 0.5rem auto;
    display: flex;
    border: none;
    justify-content: space-between;
    background-color: rgb(93, 214, 93);
}

.removeUser{
    padding: 0.15rem;
    border: none;
    border-radius: 10%;
    background: lightcoral;
    color: aliceblue;

}

.removeUser:hover{
    background-color: darkred;
    color: white;
}

.adminBtn{
    padding: 0.15rem;
    border: none;
    border-radius: 10%;
    background: rgb(186, 128, 240);
    color: aliceblue;
}

.adminBtn:hover{
    background-color: rgb(13, 224, 213);
    color: white;
}

.add_new_member{
    align-items: center;
    background-color: rgb(109, 149, 153);
}

#add_new_memberForm{
    margin: 1rem 0.2rem 0px 0.2rem;
    background: lightskyblue;
    padding: 1rem;
    border-radius: 8px;
    
}

.add_new_member input[type=text]{
    width: 95%;
    font-size: 1rem;
}

.add_new_member input[type=text]:hover{
    box-shadow: 2px 2px lightseagreen;
}

.add_new_member input[type=submit]{
    margin: 0.2rem 0px 0px 40%;
    padding: 0.5rem;
    background: rgb(28, 137, 28);
    border-radius: 6px;
    width: 8rem;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    

}

.add_new_member input[type=submit]:hover{
    background-color: darkgreen;
    color: white;
}

.leave__group{
    padding: 0.5rem;
    margin: 250px 0px 5px 60% ;
    background-color: lightcoral;
    border: none;
    border-radius: 6px;
    font-weight: 800;
    width: 5.7rem;
}

.leave__group:hover{
    background: darkred;
    color: white;
}